:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #ecf0f1;
    --text-color: #34495e;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
}

#calendar {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--shadow-color);
    margin-bottom: 20px;
}

.btn-voltar {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-voltar:hover {
    background-color: var(--secondary-color);
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}